body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.4;
    padding: 10px;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 0;
}

#subtitle {
    margin-top: 0;
}

#img-div {
    width: 75%;
    height: auto;
    margin: 0 auto;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgb(31, 31, 112);
}

img {
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 80%;
}

#img-caption {
    /* margin: 20px auto; */
    line-height: 4;
}

ul {
    text-align: justify;
    max-width: 800px;
    margin: auto;
}